# Dependency Directory
**/node_modules

# Lock Files
**/package-lock.json
**/yarn.lock
**/pnpm-lock.yaml

# Environment Configuration
# **/.env
# **/.env.*

# Test Coverage Directory
/coverage

# Ignore Apple MacOS Desktop Services Store
/.DS_Store

# Logs
/logs
/*.log

# Ngrok Tunnel File
/config/tunnel.pid

# Vite Build Output
/frontend/dist/

# Extensions Build Output
/extensions/*/build

# Node Library SQLite Database
/backend/database.sqlite

# Ignore Shopify Files Created During App Dev
/.shopify
/.shopify.lock
